<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Bienvenidxs a Mercado Liebre</title>
</head>
<body>
    <header class="header">
        <div class="nav">
            <a href="/"><div class="logo"><img src="/images/logo-mercado-liebre.svg" alt="Logo"></div></a>
            <div class="barrabusq"><p class="textoHead"><input type="text" placeholder="Buscar productos, marcas..."></input> <i class="fa-sharp fa-solid fa-magnifying-glass"></i></p></div>
            <div class="cuotas"><p class="textoHead"> <i class="fa-sharp fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p></div>
        </div>

        <div class="login">
            <ul>
                <li class="titular"> <a href="#">Ofertas</a></li>
                <li> <a href="#">Tiendas oficiales</a></li>
                <li> <a href="#">Vender</a></li>
                <li> <a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li> <a href="/register">Creá tu cuenta  <i class="fa-solid fa-id-card"></i></a></li>
                <li> <a href="/login">Ingresá  <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li> <a href="#">Mis compras  <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <img src="/images/img-home-banner.jpg" alt="Banner" width="100%">
    </header>
    <main>
        <section>
            <h2 class="titular">Basado en tu última visita</h2>
            <div class="objetos">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" height="300px">
                    <div class="producto-desc">
                        <span><i class="fa-solid fa-truck envio"></i></span>
                        <div class="precios">
                            <p class="texto precio">$6.770</p>
                            <p class="texto descuento">40% off</p>
                        </div>
                        <h3 class="descripcion">Cafetera Moulinex</h3>
                    </div>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook" height="300px">
                    <div class="producto-desc">
                        <span><i class="fa-solid fa-truck envio"></i></span>
                        <div class="precios">
                            <p class="texto precio">$230.000</p>
                            <p class="texto descuento">20% off</p>
                        </div>
                        <h3 class="descripcion">MacBook Pro 2019</h3>
                    </div>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Cafetera" height="300px">
                    <div class="producto-desc">
                        <span><i class="fa-solid fa-truck envio"></i></span>
                        <div class="precios">
                            <p class="texto precio">$70.500</p>
                            <p class="texto descuento">10% off</p>
                        </div>
                        <h3 class="descripcion">Samsung Galaxy S10</h3>
                    </div>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Cafetera" height="300px">
                    <div class="producto-desc">
                        <span><i class="fa-solid fa-truck envio"></i></span>
                        <div class="precios">
                            <p class="texto precio">$23.200</p>
                            <p class="texto descuento">5% off</p>
                        </div>

                        <h3 class="descripcion">SmartTV Samsung 43"</h3>
                    </div>
                </article>
            </div>
            
        </section>
        <section>
            <br> <br>
            <h2 class="titular">Ofertas</h2>
            <div class="objetos">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" height="300px">
                    <div class="producto-desc">
                        <span><i class="fa-solid fa-truck envio"></i></span>
                        <div class="precios">
                            <p class="texto precio">$6.770</p>
                            <p class="texto descuento">40% off</p>
                        </div>
                        <h3 class="descripcion">Cafetera Moulinex</h3>
                    </div>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook" height="300px">
                    <div class="producto-desc">
                        <span><i class="fa-solid fa-truck envio"></i></span>
                        <div class="precios">
                            <p class="texto precio">$230.000</p>
                            <p class="texto descuento">20% off</p>
                        </div>
                        <h3 class="descripcion">MacBook Pro 2019</h3>
                    </div>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Cafetera" height="300px">
                    <div class="producto-desc">
                        <span><i class="fa-solid fa-truck envio"></i></span>
                        <div class="precios">
                            <p class="texto precio">$70.500</p>
                            <p class="texto descuento">10% off</p>
                        </div>
                        <h3 class="descripcion">Samsung Galaxy S10</h3>
                    </div>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Cafetera" height="300px">
                    <div class="producto-desc">
                        <span><i class="fa-solid fa-truck envio"></i></span>
                        <div class="precios">
                            <p class="texto precio">$23.200</p>
                            <p class="texto descuento">5% off</p>
                        </div>
                        <h3 class="descripcion">SmartTV Samsung 43"</h3>
                    </div>
                </article>
            </div>
            
        </section>
    </main>
    <footer>
        <div class="arriba">
            <article>
                <div><i class="fa-solid fa-credit-card color"></i></div>
                <h3 class="descripcionF">Pagá con tarjeta o en efectivo</h3>
                <p class="texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo enpuntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <div><i class="fa-solid fa-gift color"></i></div>
                <h3 class="descripcionF">Envío gratis desde $ 2.500</h3>
                <p class="texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <div><i class="fa-solid fa-user-shield color"></i></div>
                <h3 class="descripcionF">Seguridad, de principio a fin</h3>
                <p class="texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
        </div>
        <div class="abajo">
            <h3 class="descripcionF">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </div>
    </footer>
</body>
</html>