*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Roboto;
    background-color:#ebebeb;
}

.header{
    background-color:#EAC926;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 300px;
}

.logo img{
    width: 100%;
}

.barrabusq{
    position: relative;
    width: 430px;
}

.input{
    width: 400px;
    height: 40px;
    border: 0;
    border-radius: 10px;
}

.lupa{
    position: absolute;
    right: 45px;
    font-size: 15px;
    top: 15px;
}

.textoHead{
    font-size: 18px;
    margin: 3px;
}


a{
    text-decoration: none;
    color: black;
}

.login{
    display: none;
}

.login-mob{
    display: flex;
    justify-content: center;
}

.burger-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c54bf;
    border-radius: 5px;
    margin: 0;
    width: 50px;
    height: 50px;
} 

.burger-menu .burger{
    font-size: 40px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
}

.intereses{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.type-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.type-user label{
    margin: 5px;
}

.form .buttons input{
    width: 100px;
    margin: 10px;
    background-color: #0044aa;
    border: 0;
    border-radius: 10px;
    color: white;
}

footer article{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 15px;
    margin-bottom: 0;
}

footer .arriba{
    display: flex;
    flex-direction: column;
}

.color{
    color: #0044aa;
    font-size: 25px;
}

footer:hover .color{
    transition: 1s;
    color: #c1b400;
}

@media (min-width: 361px) {

}


@media (min-width: 769px) {    
    .objetos article:hover{
        box-shadow: 10px 10px 35px -1px rgba(0,0,0,0.64);
        transition-duration: 500ms;
    }
    main{
        width: 100%;
        margin: 10px
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    footer .arriba{
        display: flex;
        flex-direction: row;
    }
    .abajo h3.descripcionF {
        text-align: center;
        margin: 20px;
    }
    .login{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .login ul{
        display: flex;
        align-items: center;
    }
    li{
        margin: 10px;
        list-style: none;
    }
    .burger-menu{
        display: none;
    }
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
